header.MuiPaper-root {
  background: linear-gradient(180deg, #A6D654 22%, #C1F36D 100%);  
}

/* navbar */
.MuiBox-root.css-k008qs > header > div {
  background-color: #f2f4f4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 28px 0 0 0 ;
}
/* car park name in navbar */
.MuiBox-root.css-k008qs > header > div > .navbarCarparkName {
  color: #131F00;
  font-weight: bold;
  background-color: #c1f36d;
  margin-left: 0px;
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
/* navbar buttons */
.navbarButtons {
  width: 90px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  //margin-right: 10px;

  > .pdfIcon {
    width: 35px;
    height: auto;
  }
}
.MuiBox-root.css-k008qs > header > div > div > svg {
  color: #131f00;
  font-size: 24px;
  margin: 5px 0px;
}
.staffProfile {
  background-color: #d6d6d6 !important;
  font-weight: bold;
  color: #008399 !important;
}