header.MuiPaper-root {
  background-color: #bdee69 !important;
}

/* navbar */
.MuiBox-root.css-k008qs > header > div {
  background-color: #f2f4f4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 20px 0 0 0 ;
}
/* car park name in navbar */
.MuiBox-root.css-k008qs > header > div > .navbarCarparkName {
  color: #000;
  font-weight: bold;
  background-color: #c1f36d;
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
/* navbar buttons */
.navbarButtons {
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.MuiBox-root.css-k008qs > header > div > div > svg {
  color: #131f00;
  font-size: 24px;
  margin: 5px 0;
}
.staffProfile {
  background-color: #d6d6d6 !important;
  font-weight: bold;
  color: #008399 !important;
}