.timeline-comp {
    background: #FFF;
    padding: 0.5em;
    height: 17em;
    border-radius: 20px;

  .labels {
    min-height: 0;

    div {
      font-weight: 700;
      margin: 0;
    }

    span {
      background-color: #ffffff;
      box-shadow: none;
    }
  }
}
