.timeline-comp {
    background: #FFF;
    padding: 0.5em;
    height: 17em;
    border-radius: 20px;

  h5 {
    color: #476800;
    font-weight: 700;
  }

  .labels {
    min-height: 0;

    div {
      font-weight: 700;
      margin: 0;
    }
<<<<<<< HEAD
    ul {
        padding: 0;
        margin: 0;
    }
    // .parkedTime {
    //     display: flex;
    //     align-items: center !important;
    //     padding-left: 10em;
    // }
    // .carTime {
    //     padding: 0.5em;
    // }
    // .carPlate {
    //     padding: 0.5em;
    //     display: flex;
    //     justify-content: center;
    // }
    // .carType {
    //     padding: 0.5em;
    // }
    // .timelineWrap {
    //     margin: 0 1em;
    // }
    // .timelineWrapEmpty {
    //     width: 10em;
    //     margin: 0 1.75em !important;
    // }
    .labels {
        min-height: 0;

        div {
            font-weight: 700;
            margin: 0;
        }

        span {
            background-color: #FFFFFF;
            box-shadow: none;
        }


=======

    span {
      background-color: #ffffff;
      box-shadow: none;
>>>>>>> b24ab2ce7a01e851334d4a865133805c6fce0ff2
    }
  }
}
