.timeline-comp {
    background: #FFF;
    padding: 0.5em;

    &::-webkit-scrollbar {
      display: none; 
    }

  .labels {
    min-height: 0;

    div {
      font-weight: 700;
      margin: 0;
    }

    span {
      background-color: #ffffff;
      box-shadow: none;
    }
  }
  //decreasing the height of the last row
  .MuiTimelineItem-root:nth-last-of-type(1) {
    min-height: 30px;
  }
}