.space-comp {
  background: #FFFFFF;
  padding: 10px 10px;
  height: 17em;
  border-radius: 20px;

  h6 {
    color: #476800;
    font-weight: 700;
  }

  > div {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
  }

}


.chart{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .pie-num {
    text-align: center;
    font-weight: 700;
    color: #131f00;
    position: absolute;
    //left: 73px;
    top: 66px;
    padding-right: 3%;
  
    p:nth-of-type(1) {
      margin: 0px;
      font-size: 18px;
    }
  
    p:nth-last-of-type(1) {
      margin: 0px;
      font-size: 40px;
      line-height: 1;
    }
  }
}


.cars-num {

  > span {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #131f00;

    .car-type {
      display: block;
      text-align: center;
      height: 70px;

      p{
        margin-top: 0px;
        margin-bottom: 0;
      }
    }

    > p {
      font-size: 22px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
      margin-right: 0px;
      width: 1em;
      display: flex;
      justify-content: center;
    }
  }
}
