.footer {
    display: flex;
    justify-content: space-between !important;

    > .submit {
    color: white;
    border: 0px;
    background:#5A8300;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    > .cancel {
        color: #5A8300;
        border: 1px solid #5A8300;
        background:#fff;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
 }
 