
  // .css-3ze8r2-MuiPaper-root {
  //   background: #fff;
  //   padding: 0.5em;
  //   border-radius: 20px !important;
  // }

  .ePriceHeader {
    color: #476800 !important;
    font-weight: bold !important;
}
.parkName {
    display: flex;
    justify-content: flex-end;
}
.parkName > .epHeading {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    color: #476800;
    //background-color: #F1FFD3;
  }
  .parkName > p {
    font-size: 0.85em !important;
}
.parkName > .dateInput {
    width: 300px;
    border: 1px solid grey;
    padding: 0.1em;
    border-radius: 10px;

    > form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3px;
    }
}
.parkName > .dateInput > form > .submit {
    color: white;
    border: 0px;
    background:#5A8300;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}
.ePrice {
    height: 17em;

    //Applying only to the DataGrid under .ePrice div
    .MuiDataGrid-root {
      border: none !important;
    }
    
    .MuiDataGrid-columnHeaders {
      background-color: #a6d654;
      border-radius: 10px !important;

      .MuiDataGrid-columnHeaderTitle {
        font-weight: bold;
      }
    }
    // .ePriceDataGrid {
    //     height: 100% !important;
    // }
    .MuiTablePagination-root > div > p {
      margin: 0;
    }
    .MuiDataGrid-footerContainer {
      border: none !important;
    }

    .MuiDataGrid-virtualScrollerRenderZone > div:nth-of-type(even)>* {
      background-color: #F1FFD3;
      //border-radius: 10px !important;
    }
}