.car-list-comp {
    background: #FFF;
    padding: 10px 10px;
    //width: 780px;
    //height: 550px;
    height: 26em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    .btns{
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            color: black;
            width: 70px;
            height: 28px;
            font-size: 14px;
            border: 0px;
            background:#E1E3E3;
            border-radius: 10px;
            margin: 5px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        span{
            position: relative;

            input {
                width: 450px;
                height: 38px;
                border: 1px solid grey;
                border-radius: 10px;
            }

            button {
                position: absolute;
                right: -1px;
                color: white;
                border: 0px;
                background:#5A8300;
                border-radius: 10px;
                margin: 5px;
            }
        }
    }
}

.Button {
    &:hover {
        background-color: #EBC243!important;
    }
}

.plate-cell {
    font-weight: 700;
    color: #008399;
}


