.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    border-radius: 15px !important;

    div > .css-1h7bhpn-MuiButtonBase-root-MuiButton-root {
        color: white !important;
        border: 0px;
        background:#5A8300 !important;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin: 10px !important;
    }
    > div > div {
        margin: 10px 0;
    }
    > div > div > a {
        color: #5A8300 !important;
        font-weight: bold;
    }
}
