body {
  background: #F2F4F4!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App, #root, body, html {
  height: 100%;
}

/* hardcode camera div */
.cameraContainer {
  height: 26em;
}
.dummy:first-child {
  margin-bottom: 15px;
}
.dummy {
  background: #FFF;
  padding: 10px 10px;
  height: 12.5em;
  border-radius: 20px !important;
  border: 2px solid #131f00;
}
