body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* floating action button */
.fabExpanded {
  position: sticky;
  top: 70px;
  left: 180px;
  background-color: #fff !important;
}
.fabClosed {
  position: sticky;
  top: 70px;
  left: 45px;
  background-color: #fff !important;
}
.MuiBox-root.css-k008qs > button > svg, 
.MuiBox-root.css-k008qs > div > button > svg {
  color: #008399;
}
.MuiBox-root.css-15t2oww, .MuiBox-root.css-18iydrm {
  position: sticky;
  top: 64px;
  border-bottom-left-radius: 15px;
}
.dummy {
  background: #FFF;
    margin: 10px;
    padding: 10px 10px;
    min-width: 430px;
    height: 200px;
    border-radius: 20px !important;
  border: 2px solid #131f00;
}