body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  background-color: #bdee69 !important;
}

/* navbar */
#root > div > div.MuiBox-root.css-k008qs > header > div {
  background-color: #f2f4f4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 15px 0 0 0 ;
}
/* car park name in navbar */
#root > div > div.MuiBox-root.css-k008qs > header > div > .navbarCarparkName {
  color: #000;
  font-weight: bold;
  background-color: #c1f36d;
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
/* navbar buttons */
.navbarButtons {
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
#root > div > div.MuiBox-root.css-k008qs > header > div > div > svg {
  color: #000;
  font-size: 24px;
  margin: 5px 0;
}
#root > div > div.MuiBox-root.css-k008qs > header > div > div > div.staffProfile {
  background-color: #d6d6d6;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #008399;
}
/* sidebar */
li.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1p823my-MuiListItem-root {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 68px;
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: 5px 5px 3px rgba(0,0,0,0.3);
}
#root > div > div.MuiBox-root.css-k008qs > div > div, 
#root > div > div.MuiBox-root.css-k008qs > div > div > div {
  display: flex;
  justify-content: space-between;
  background-color: #bdee69;
  border: none;
}
#root > div > div.MuiBox-root.css-k008qs > div > div > ul:nth-child(1) > li:nth-child(2) > div {
  margin-top: 20px;
}
#root > div > div.MuiBox-root.css-k008qs > div > div > ul:nth-child(1) > li:not(:first-child), 
#root > div > div.MuiBox-root.css-k008qs > div > div > div > ul:nth-child(1) > li:not(:first-child) {
  margin: 10px 0 10px 10px;
}
#root > div > div.MuiBox-root.css-k008qs > div > div > ul:nth-child(2) > li,
#root > div > div.MuiBox-root.css-k008qs > div > div > div > ul:nth-child(2) > li {
  margin: 10px 0 10px 10px;
}
#root > div > div.MuiBox-root.css-k008qs > div > div > ul:nth-child(2), 
#root > div > div.MuiBox-root.css-k008qs > div > div > div > ul:nth-child(2) {
  margin-bottom: 30px;
}
#root > div > div.MuiBox-root.css-k008qs > div > div > ul > li > div > .svg {
  width: 30px;
  margin-right: 10px;
}
#root > div > div.MuiBox-root.css-k008qs > div > div > ul:nth-child(1) > li:nth-child(3) > div > div.svg,
#root > div > div.MuiBox-root.css-k008qs > div > div > div > ul:nth-child(1) > li:nth-child(3) > div > div.svg {
  padding-left: 3px;
}
#root > div > div.MuiBox-root.css-k008qs > div > div > ul > li > div > div > span {
  font-weight: bold;
}
/* Mini variant drawer */
li.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1p823my-MuiListItem-root {
  height: 118px;
}
#root > div > div.MuiBox-root.css-k008qs > div > div > div > ul > li > div > .svg {
  width: 30px;
  margin-left: 10px;
}
/* floating action button */
.fabExpanded {
  position: absolute;
  top: 70px;
  left: 180px;
  background-color: #fff !important;
}
.fabClosed {
  position: absolute;
  top: 70px;
  left: 45px;
  background-color: #fff !important;
}
#root > div > div.MuiBox-root.css-k008qs > button > svg, 
#root > div > div.MuiBox-root.css-k008qs > div > button > svg {
  color: #008399;
}