$appbar_height: 64px;

.contentBackground {
  background-color: #bdee69 !important;
  height: calc(100% - $appbar_height);
  width: 100%;
  position: absolute !important;
  bottom: 0 !important;
}

.contentContainer {
    background-color: #f2f4f4 !important;
    height: 100% !important;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    border-bottom-left-radius: 20px;
}
.home-container{
    background: #F2F4F4;
    padding: 0px;
    flex-wrap: nowrap !important;
}

.first-row {
    justify-content: space-evenly;
    align-items: center;
    min-height: 40%;
}

.second-row {
    justify-content: space-evenly;
    align-items: center;
    min-height: 60%;
}